<!DOCTYPE html>
<html>
  <head>
    
    <title>Create a Team and Heroes!</title>
    
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    
    <form method="POST" action='/teams'>
      <label for="name"> Team Name:</label>
      <input type="text" id="name" name="team[name]"><br>
      <label for="motto"> Team Motto:</label>
      <input type="text" id="motto" motto="team[motto]"><br>
      
      <h1>Hero 1</h1>
      
      <label for="name"> Hero's Name:</label>
      <input type="text" id="name" name="hero[name]"><br>
      <label for="power"> Hero's Power:</label>
      <input type="text" id="power" power="hero[power]"><br>
      <label for="Biography"> Hero's Biography:</label>
      <input type="text" id="biography" biography="hero[biography]"><br>
      
      <h1>Hero 2</h1>
      
      <label for="name"> Hero's Name:</label>
      <input type="text" id="name" name="hero[name]"><br>
      <label for="power"> Hero's Power:</label>
      <input type="text" id="power" power="hero[power]"><br>
      <label for="Biography"> Hero's Biography:</label>
      <input type="text" id="biography" biography="hero[biography]"><br>
      
      
      <h1>Hero 3</h1>
      
      <label for="name"> Hero's Name:</label>
      <input type="text" id="name" name="hero[name]"><br>
      <label for="power"> Hero's Power:</label>
      <input type="text" id="power" power="hero[power]"><br>
      <label for="Biography"> Hero's Biography:</label>
      <input type="text" id="biography" biography="hero[biography]"><br>
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

