<!DOCTYPE html>
<html>
  <head>
    <title>Create a Team and Heroes!</title>
    
  </head>
  <body>
    
    <form method="post" action="/super_hero">
      <label for="name"> Team Name:</label><br>
      <input type="text" id="name" name="team[name]"><br>
      <label for="motto"> Team Motto:</label><br>
      <input type="text" id="motto" motto="team[motto]"><br>
      
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

